<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R3M.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <R3M.Controls.Properties.Settings>
            <setting name="RoundPanelCss" serializeAs="String">
                <value>~/scripts/Controls/R3M.RoundPanel/round_ctr.css</value>
            </setting>
            <setting name="CollectionPagerCss" serializeAs="String">
                <value>~/scripts/Controls/R3M.Pager/Pager.css</value>
            </setting>
            <setting name="MonoWebFormJS" serializeAs="String">
                <value>~/scripts/MonoLibs/WebForm.js</value>
            </setting>
            <setting name="JQueryMaskedInputJs" serializeAs="String">
                <value>~/scripts/Controls/R3M.MaskedInput/jquery.maskedinput-1.1.4.js</value>
            </setting>
            <setting name="MaskedInitializer" serializeAs="String">
                <value>~/scripts/Controls/R3M.MaskedInput/MaskedInput.js</value>
            </setting>
            <setting name="JqueryPath" serializeAs="String">
                <value>~/scripts/jquery.js</value>
            </setting>
            <setting name="DefaultCssIdClass" serializeAs="String">
                <value>round_ctr</value>
            </setting>
            <setting name="ConfirmMessagePluginJs" serializeAs="String">
                <value>~/scripts/Controls/R3M.ConfirmMessage/jConfirmMessage.js</value>
            </setting>
            <setting name="RoundButtonCss" serializeAs="String">
                <value>~/scripts/Controls/R3M.RoundButton/RoundButton.css</value>
            </setting>
            <setting name="DefaultRoundButtonClassName" serializeAs="String">
                <value>button</value>
            </setting>
        </R3M.Controls.Properties.Settings>
    </applicationSettings>
</configuration>