<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <section name="ReportsSettings" type="SEOToolSetReportServices.ReportEngine.ReportsConfigurationSection, SEOToolSetReportServices"/>
    </configSections>
    <appSettings>
        <add key="ResultError" value="ResultError"/>
        <add key="ResultSuccess" value="ResultSuccess"/>
        <add key="Keyword" value="Keyword"/>
        <add key="OptimizedWord" value="OptimizedWord"/>
        <add key="PageInformationToolObjectSerializerType" value="Object"/>
    </appSettings>

    <ReportsSettings>
        <Reporters>
            <clear />
            <add Name="ToolSetKeywordsReporter" ClassName="SEOToolSetReportServices.Reporters.ToolSetKeywordsReporter" />
            <add Name="OptimizedKeywordsReporter" ClassName="SEOToolSetReportServices.Reporters.OptimizedKeywordsReporter" />
            <add Name="TagInformationReporter" ClassName="SEOToolSetReportServices.Reporters.TagInformationReporter" />
            <add Name="WordPhrasesReporter" ClassName="SEOToolSetReportServices.Reporters.WordPhrasesReporter" />
            <add Name="LinearKeywordDistributionReporter" ClassName="SEOToolSetReportServices.Reporters.LinearKeywordDistributionReporter" />
            <add Name="LinkTextReporter" ClassName="SEOToolSetReportServices.Reporters.LinkTextReporter" />
            <add Name="WordMetricsReporter" ClassName="SEOToolSetReportServices.Reporters.WordMetricsReporter" />
            <add Name="SiteInfoReporter" ClassName="SEOToolSetReportServices.Reporters.SiteInfoReporter" />
            <add Name="HeaderInfoReporter" ClassName="SEOToolSetReportServices.Reporters.HeaderInfoReporter" />
            <add Name="CloakCheckInfoReporter" ClassName="SEOToolSetReportServices.Reporters.CloakCheckInfoReporter" />
            <add Name="MonitorReporter" ClassName="SEOToolSetReportServices.Reporters.MonitorReporter" />
            <add Name="RankingReporter" ClassName="SEOToolSetReportServices.Reporters.RankingReporter" />
        </Reporters>
    </ReportsSettings>
    <!-- Log4Net configuration -->
    <log4net>
        <!-- Complete log for debug (configured to generate a new file at each 1000 kb, with a maximum of 10 files) -->
        <appender name="DebugInfoLog" type="log4net.Appender.RollingFileAppender">
            <file value="App_Data\Debug_Info_log.txt"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="1000KB"/>
            <staticLogFileName value="true"/>
            <countDirection value="1"/>
            <layout type="log4net.Layout.PatternLayout">
                <!--="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger (%property{NDC})] %newline - %message%newline%newline" -->
                <param name="ConversionPattern" value="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger ] %newline - %message%newline%newline"/>
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG"/>
                <levelMax value="INFO"/>
            </filter>
        </appender>
        <appender name="WarnFatalLog" type="log4net.Appender.RollingFileAppender">
            <file value="App_Data\Warn_Fatal_log.txt"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="1000KB"/>
            <staticLogFileName value="true"/>
            <countDirection value="1"/>
            <layout type="log4net.Layout.PatternLayout">
                <!--="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger (%property{NDC})] %newline - %message%newline%newline" -->
                <param name="ConversionPattern" value="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger ] %newline - %message%newline%newline"/>
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN"/>
                <levelMax value="FATAL"/>
            </filter>
        </appender>
        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
            <level value="ALL" id="LogLevel"/>
            <appender-ref ref="DebugInfoLog"/>
            <appender-ref ref="WarnFatalLog"/>
        </root>
    </log4net>
    <connectionStrings/>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">
        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
    <system.codedom>
    </system.codedom>
    <system.webServer>
    </system.webServer>
</configuration>
