<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SEOToolSet.Providers.AuthorizeNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
    <SEOToolSet.Providers.AuthorizeNet.Properties.Settings>
            <setting name="SEOToolSet_Providers_AuthorizeNet_ArbApiSoap_Service"
                serializeAs="String">
                <value>https://apitest.authorize.net/soap/v1/Service.asmx</value>
            </setting>
        </SEOToolSet.Providers.AuthorizeNet.Properties.Settings>
    </applicationSettings>
</configuration>
