.QuickTipHolder { width:200px; position:absolute; z-index:50000; }
.QuickTipHolder .content { background:#caddee; margin-left:10px; padding:10px; font-size:85%; }
.QuickTipHolder .Arrow { width: 10px; height:16px; float:left; background:url(Assets/arrow-blue-quicktip.gif) no-repeat; top:15px; position:relative;}