
/* Default elements */
body
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 10pt;
	background-color: white;
}

h1
{
	font-size: 16pt;
	font-weight: bold;
}
h2
{
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
}
h3
{
	font-size: 10pt;
	font-weight: bold;
}


a:link
{
	color: #000099;
}

a:visited
{
   color: #000099;
}

img
{
	border: 0px;
}

label
{
	font-weight: bold;
	color: #669900;
}

pre
{
	font-family: "Courier New" , Courier, mono;
	background-color: #c0c0c0;
	border: #000000 thin solid;
}
code
{
	color: #b22222;
	font-family: "Courier New" , Courier, mono;
}

input
{
	font-size: 10pt;
	font-family: Verdana, Tahoma, Arial;
}

textarea
{
	font-size: 10pt;
	font-family: Verdana, Tahoma, Arial;
}



/* Link Buttons */
a.rss
{
	background: url(res/feed.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.newitem
{
	background: url(res/document_new.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.edititem
{
	background: url(res/edit.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.printitem
{
	background: url(res/print.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.deleteitem
{
	background: url(res/delete.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.downloaditem
{
	background: url(res/attachment.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.search
{
	background: url(res/search.png) no-repeat left center;
	padding: 11px 0 11px 22px;
}
a.mailreply
{
	background: url(res/mail_reply.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.attachment
{
	background: url(res/attachment.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.user
{
	background: url(res/card.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.next
{
	background: url(res/move_next.png) no-repeat right center;
	padding: 8px 20px 8px 0px;
}
a.previous
{
	background: url(res/move_previous.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}
a.urlitem
{
	background: url(res/world.png) no-repeat left center;
	padding: 8px 0 8px 20px;
}


/* tables */
/* formtable, table used for form  */
.formtable
{
}
.formtable tr td
{
	vertical-align: top;
}


/* datatable, table used for data, list, .. */
.datatable
{
	border: 1px solid #669900;
	border-collapse: collapse;
	color: #000000;
}
.datatable thead
{
	text-align: center;
	background: #d6eab0;
	color: #669900;
	font-size: 100% !important;
	font-weight: bold;
}
.datatable thead tr th
{
	border: 1px solid #669900;
	padding: 3px;
}
.datatable tbody tr td
{
	border: 1px solid #669900;
	padding: 3px;
}


/* others */

p.errorBox
{
	background: url(res/error.png) no-repeat;
	padding: 0 0 0px 20px;
	color: #ff0000;
	font-weight: bold;
}


/* message (forums) */
.message
{
	border: 1px solid #669900;
	color: #555;
	/*width: 100%;*/
	margin-top: 2px;
	margin-bottom: 8px;
}
.messageHeader
{
	background: #FCFDFE;
	padding: 0px;
}
.messageAuthor
{
	font-size: smaller;
}
.messageDate
{
	font-size: smaller;
}
.messageAttach
{
}
.messageSubject
{
	margin: 0px;
	font-size: 10pt;
	font-weight: bold;
}
.messageBody
{
	border-top: 1px solid #669900;
	border-bottom: 1px solid #669900;
	padding: 4px;
}
.messageActions
{
	padding: 3px;
}

/* style used for plainText rendering */
.plainText
{
	white-space: pre-wrap;       /* css-3 should we be so lucky... */
	/*white-space: -moz-pre-wrap;*/  /* Mozilla, since 1999 */
	/*white-space: -pre-wrap;*/      /* Opera 4-6 ?? */
	/*white-space: -o-pre-wrap;*/    /* Opera 7 ?? */
	/*word-wrap: break-word;*/       /* Internet Explorer 5.5+ */
	/*_white-space: pre;*/   /* IE only hack to re-specify in addition to word-wrap  */
}

.pageNavigation
{
	border: 1px solid #669900;
	background: #d6eab0;
	margin-bottom: 10px;
	padding: 2px;
}

.searchBox
{
	margin-bottom: 10px;
}
.searchTitle
{
	margin: 0px;
}
.searchBody
{
}
.searchFooter
{
	color: #2e8b57;
}

.box
{
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 0;
	border: #669900 1px solid;
}
.boxTitle
{
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #669900;
	font-weight: bold;
	padding: 0;
	margin: 0px;
}
.boxContent
{
	padding: 2px;
	color: #669900;
	background-color: #FCFDFE;
}


.article
{
}
.articleTitle
{
	font-weight: bold;
}
.articleProperties
{
	border: #696969 1px solid;
	font-size: smaller;
	background-color: #dcdcdc;
	padding: 2px;
}
.articleAuthor
{
}
.articleDescription
{
}
.articleDate
{
}
.articleActions
{
}
.articleBody
{
}

.newsitem
{
}
.newsitemHeader
{
}
.newsitemTitle
{
	font-weight: bold;
}
.newsitemProperties
{
}
.newsitemAuthor
{
}
.newsitemDate
{
}
.newsitemUrl
{
}
.newsitemActions
{
	padding-top: 5px;
}
.newsitemDescription
{
}

.newsBoxTitle
{
	font-size: 8pt;
	font-weight: bold;
}
.newsBoxContent
{
	padding: 2px;
}
.newsBoxDescription
{
	font-size: 8pt;
}


#navigationMenu 
{
	width: 100%;
}
#navigationMenu ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#navigationMenu li 
{
	border-bottom: 1px solid #669900;
	margin: 0;
}
#navigationMenu li a
{
	display: block;
	padding: 5px 5px 5px 0.5em;
	background-color: #d6eab0;
	color: #669900;
	text-decoration: none;
	font-weight: bold;
}
#navigationMenu li a:hover
{
	background-color: #669900;
	color: #d6eab0;
}	
		

#navigation
{
}
#extra
{
}
#header
{
	text-align: center;
	background: url(res/logo.png) no-repeat;
	height: 80px;
	font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
}
#footer
{
	text-align: center;
	font-size: 8pt;
	border: #696969 1px solid;
	background-color: #f5f5f5;
	padding: 2px;
}
#pageContent 
{
	padding: 4px;
}


