<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
        <!-- Add the notification provider section -->
        <section name="notificationManager" type="Eucalypto.Notification.NotificationProviderConfiguration, Eucalypto"/>
        <!-- Add the forum provider section -->
        <section name="forumManager" type="Eucalypto.Forum.ForumProviderConfiguration, Eucalypto"/>
        <!-- Add the wiki provider section -->
        <section name="wikiManager" type="Eucalypto.Wiki.WikiProviderConfiguration, Eucalypto"/>
        <!-- Add the news provider section -->
        <section name="newsManager" type="Eucalypto.News.NewsProviderConfiguration, Eucalypto"/>
        <!-- Add log4Net section -->
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <!-- Add eucalypto section -->
        <section name="eucalypto" type="NHibernateDataStore.Configuration.EucalyptoSection, NHibernateDataStore"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebSite.CustomEntities.CustomEntities" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebSite.CustomEntities.CustomEntities>
            <setting name="ConnectionStringName" serializeAs="String">
                <value>DefaultDB</value>
            </setting>
        </WebSite.CustomEntities.CustomEntities>
    </applicationSettings>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <clear/>
        <add name="DefaultDB" 
			 connectionString="DriverClass=NHibernate.Driver.MySqlDataDriver;
			 Dialect=NHibernate.Dialect.MySQLDialect;
			 Database=seodatabase;
			 Data Source=192.168.4.93;
			 User Id=SEOUser;
			 Password=roca;
			 port=3306;
			 Connect Timeout=30;
			 TablePrefix=SEO_"/>
        <!-- SQLite     
		<add name="DefaultDB" 
		<add name="DefaultDB" 
         connectionString="DriverClass=NHibernate.Driver.SQLite20Driver;Dialect=NHibernate.Dialect.SQLiteDialect;Data Source=|DataDirectory|\data.db3"/> -->
        <!-- SQL Server Express 2005  
    <add name="DefaultDB" 
         connectionString="DriverClass=NHibernate.Driver.SqlClientDriver;Dialect=NHibernate.Dialect.MsSql2005Dialect;data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|data.mdf;User Instance=true" />
   -->
        <!-- SQL Server 2005 
    <add name="DefaultDB"
         connectionString="DriverClass=NHibernate.Driver.SqlClientDriver;Dialect=NHibernate.Dialect.MsSql2005Dialect;Data Source=localhost;Initial Catalog=Eucalypto;Integrated Security=SSPI;" />
         -->
    </connectionStrings>
    <system.web>
        <!-- Authentication mode -->
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="525600" slidingExpiration="true">
            </forms>
        </authentication>
        <!-- Authorization-->
        <authorization>
            <!-- Allow all -->
            <allow users="?"/>
        </authorization>
        <!-- Membership Provider -->
        <membership defaultProvider="EucalyptoMembershipProvider">
            <providers>
                <clear/>
                <!-- Membership provider configuration
          Note: the passwordFormat and enablePasswordRetrieval properties are not supported.
        -->
                <add name="EucalyptoMembershipProvider" type="Eucalypto.Membership.EucalyptoMembershipProvider, Eucalypto" connectionStringName="DefaultDB" applicationName="Default" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" requiresUniqueEmail="true"/>
            </providers>
        </membership>
        <!-- Role Provider -->
        <roleManager enabled="true" defaultProvider="EucalyptoRoleProvider">
            <providers>
                <clear/>
                <add name="EucalyptoRoleProvider" connectionStringName="DefaultDB" applicationName="Default" type="Eucalypto.Roles.EucalyptoRoleProvider, Eucalypto"/>
            </providers>
        </roleManager>
        <!-- To enable debug -->
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <!-- Profile -->
        <!-- Enable anonymousIdentification only if really required -->
        <anonymousIdentification enabled="true"/>
        <profile defaultProvider="EucalyptoProfileProvider">
            <providers>
                <clear/>
                <add name="EucalyptoProfileProvider" type="Eucalypto.Profile.EucalyptoProfileProvider, Eucalypto" connectionStringName="DefaultDB" applicationName="Default"/>
            </providers>
            <properties>
                <!-- Notify me by e-mail if someone answers forum messages. Used by the notification provider. -->
                <add name="ReceiveNotification" type="Boolean" defaultValue="True" allowAnonymous="false"/>
                <!-- Just for test -->
                <add name="FavoriteColor" type="String" defaultValue="Blue" allowAnonymous="true"/>
            </properties>
        </profile>
        <!-- Http module to check if the user authenticated with the Remember me feature is still valid -->
        <httpModules>
            <add type="Eucalypto.Membership.HttpModuleCheckValidUser, Eucalypto" name="CheckValidUser"/>
            <add name="NHibernateSessionModule" type="NHibernateDataStore.CustomModule.NHibernateSessionModule, NHibernateDataStore"/>
        </httpModules>
        <pages  theme ="Default" />
    </system.web>
    <!-- EMail SMTP configuration -->
    <system.net>
        <mailSettings>
            <smtp from="ivan.garcia@ccsolsite.com">
                <!--
        <network host="yourSmtpServer" port="25" userName="username" password="password" />
        -->
                <network host="smtp.ccsolsite.com" port="25" userName="ivan.garcia@ccsolsite.com" password="ivan"/>
            </smtp>
        </mailSettings>
    </system.net>
    <!-- Notification provider -->
    <notificationManager defaultProvider="EucalyptoForumSmtp">
        <providers>
            <add name="EucalyptoForumSmtp" type="Eucalypto.Notification.EucalyptoSmtpNotificationProvider, Eucalypto" template="App_Data\MailTemplate_Forum.xml" enabled="true"/>
        </providers>
    </notificationManager>
    <!-- Forum provider -->
    <forumManager defaultProvider="EucalyptoForumProvider">
        <providers>
            <clear/>
            <add name="EucalyptoForumProvider" type="Eucalypto.Forum.EucalyptoForumProvider, Eucalypto" connectionStringName="DefaultDB" notificationProvider="EucalyptoForumSmtp" receiveNotificationPropertyInProfile="ReceiveNotification"/>
        </providers>
    </forumManager>
    <!-- Wiki provider -->
    <wikiManager defaultProvider="EucalyptoWikiProvider">
        <providers>
            <clear/>
            <add name="EucalyptoWikiProvider" type="Eucalypto.Wiki.EucalyptoWikiProvider, Eucalypto" connectionStringName="DefaultDB"/>
        </providers>
    </wikiManager>
    <!-- News provider -->
    <newsManager defaultProvider="EucalyptoNewsProvider">
        <providers>
            <clear/>
            <add name="EucalyptoNewsProvider" type="Eucalypto.News.EucalyptoNewsProvider, Eucalypto" connectionStringName="DefaultDB"/>
        </providers>
    </newsManager>
    <!-- Log4Net configuration -->
    <log4net>
        <!-- Complete log for debug (configured to generate a new file at each 1000 kb, with a maximum of 10 files) -->
        <appender name="DebugInfoLog" type="log4net.Appender.RollingFileAppender">
            <file value="App_Data\Debug_Info_log.txt"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="1000KB"/>
            <staticLogFileName value="true"/>
            <countDirection value="1"/>
            <layout type="log4net.Layout.PatternLayout">
                <!--="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger (%property{NDC})] %newline - %message%newline%newline" -->
                <param name="ConversionPattern" value="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger ] %newline - %message%newline%newline"/>
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG"/>
                <levelMax value="INFO"/>
            </filter>
        </appender>
        <appender name="WarnFatalLog" type="log4net.Appender.RollingFileAppender">
            <file value="App_Data\Warn_Fatal_log.txt"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="1000KB"/>
            <staticLogFileName value="true"/>
            <countDirection value="1"/>
            <layout type="log4net.Layout.PatternLayout">
                <!--="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger (%property{NDC})] %newline - %message%newline%newline" -->
                <param name="ConversionPattern" value="[%date{yyMMdd HH:mm:ss} (%thread) %-5level %logger ] %newline - %message%newline%newline"/>
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN"/>
                <levelMax value="FATAL"/>
            </filter>
        </appender>
        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
            <level value="ALL" id="LogLevel"/>
            <appender-ref ref="DebugInfoLog"/>
            <appender-ref ref="WarnFatalLog"/>
        </root>
    </log4net>
    <!-- Specific Eucalypto configuration -->
    <eucalypto>
        <!-- List of assembly to use for the mappings -->
        <mappings>
            <add assembly="Eucalypto"/>
            <add assembly="WebSite.CustomEntities"/>
        </mappings>
    </eucalypto>
    <system.codedom>
    </system.codedom>
    <system.webServer>
    </system.webServer>
</configuration>
