html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

#headerLinks li{
	display:inline;
	margin:0;
}

#headerLinks a{
	padding:0 10px 0 10px;
	}

#mainNav{
width:955px;
font-size:11px;
}

#mainNav li{
display:inline;
width:110px;
}


#mainNav a{
		text-align:center;
		cursor:pointer;
}

#mainNav a span{
		padding:7px 0 8px 0;

}





#subNav li{
		display:inline;


		
}
#subNav ul{
		margin: 5px 0 0 0;

}

#footerLinks li a{
margin:0 10px 0 10px;
}

#footerLinks li{
	display:inline;
	margin:0;
}
